<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>BERHASIL</title>
</head>
<body>
    <center>
        <div class="error border border-success jembrotan" style="margin-top: 18%; width: 80%; padding: 20px;">
            <div class="container text-success" style="display: flex; justify-content: center; align-items: center; width: 100%;">
                <h1>DATA BERHASIL DIHAPUS!!!</h1>
            </div>
            <center>
                <button type="submit" class="btn btn-primary text-dark"><strong><a href="/konsultasi" style="text-decoration: none; color: black;">KEMBALI</a></strong></button>
            </center>
        </div>
    </center>
</body>
</html>